/* --------------- MENU --------------- */
/* Optional touch cursor */
body.grabbing {
    cursor: grabbing;
}

#menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 22vh;
    text-align: center;
    padding: 5vh 5vw;
}

#menu ul {
    position: relative;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    transition: 0.4s all ease-in-out;
    height: 100%;
}

#menu ul:before {
    z-index: -10;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0.5), transparent);
    backdrop-filter: blur(20px);
    filter: blur(10px);
    transform: scale(1.05, 1.2);
}

#menu li {
    z-index: 100;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    opacity: 0.5;
    overflow: hidden;
    filter: grayscale(100%) brightness(100%);
    transform: scale(0.75, 0.75);
    transition-property: opacity, filter, transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

#menu li:hover, #menu li.active {
    opacity: 1;
    filter: brightness(100%);
}

#menu li:active {
    top: 3px;
}

#menu li.active {
    transform: scale(1, 1);
    cursor: initial;
}

#menu li.active:active {
    top: 0px;
}

#menu img {
    max-width: 100%;
    max-height: 100%;
}



/* --------------- ARROWS --------------- */
.nav {
    position: absolute;
    top: 50%;
    background-color: rgb(220, 220, 220) content-box;
    border-radius: 100%;
    border: none;
    color: rgba(50, 50, 50);
    transform: translate(0%, -50%);
    font-size: 2rem;
    cursor: pointer;
    margin: 2vh 2vw;
    z-index: 10;
    transition: 0.2s linear color;
}

.nav i {
    transform: scale(1.3);
}

.nav:hover {
    color: rgba(25, 25, 25, 1);
}

.nav:active {
    margin-top: 2.1vh;
}

.nav.prev {
    left: 1rem;
}
.nav.next {
    right: 1rem;
}

.nav.prev:hover {
    animation: 1s ease-in-out 0.2s infinite alternate back-and-forth-left;
}

.nav.next:hover {
    animation: 1s ease-in-out 0.2s infinite alternate back-and-forth-right;
}




/* --------------- ARROW ANIMATION --------------- */
@keyframes back-and-forth-left {
    0% {
        transform: translate(0%, -50%);
    }
    100% {
        transform: translate(-10%, -50%);
    }
}
@keyframes back-and-forth-right {
    0% {
        transform: translate(0%, -50%);
    }
    100% {
        transform: translate(10%, -50%);
    }
}



/* ---------- Responsive Design ----------- */
@media (max-width: 1000px) {
    .slide {
        padding: 5vw 5vh;
        flex-direction: column;
        justify-content: start;
    }

    aside, article, iframe {
        width: 100%;
        max-width: 100%;
    }

    aside {
        margin: 0 0 5vh;
    }

    #menu li.active {
        transition-delay: 0.4s;
    }
}
